<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ride On Demand - Global Test Suite">

    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <parameter name="browser" value="chrome"/>

<!--    <test name="TS001_REGISTRATION" preserve-order="true" verbose="2">-->
<!--        <classes>-->
<!--            <class name="TestCases.TS001_Registration" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS002_LOGIN" preserve-order="true" verbose="2">-->
<!--        <classes>-->
<!--            <class name="TestCases.TS002_Login" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS002_LOGOUT" preserve-order="true" verbose="2">-->
<!--        <classes>-->
<!--            <class name="TestCases.TS003_Logout" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Customer Module Tests" preserve-order="true" verbose="2">-->
<!--        <classes>-->
<!--            <class name="TestCases.TS003"/>-->
<!--            <class name="TestCases.TS004"/>-->
<!--            <class name="TestCases.TS005"/>-->
<!--            <class name="TestCases.TS006"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Vendor Module Tests">
        <classes>
<!--            <class name="TestCases.TS007">-->
<!--            </class>-->

<!--            <class name="TestCases.TS008">-->
<!--            </class>-->

            <class name="TestCases.TS009">
            </class>

<!--            <class name="TestCases.TS010">-->

<!--            </class>-->

<!--            <class name="TestCases.TS011">-->
<!--            </class>-->

<!--            <class name="TestCases.TS012">-->
<!--            </class>-->

<!--            <class name="TestCases.TS013">-->
<!--            </class>-->
        </classes>
    </test>

<!--    <test name="Admin Module Tests" preserve-order="true" verbose="2">-->
<!--        <classes>-->
<!--            <class name="TestCases.TS014"/>-->
<!--            <class name="TestCases.TS015"/>-->
<!--            <class name="TestCases.TS016"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>